{:site-title       "tankthink"
 :author           "Tank"
 :description      "A passionate tale of love, loss, and code."
 :site-url         "http://tankthink.technology/"
 :post-root        "posts"
 :tag-root         "tags"
 :page-root        "pages"
 :blog-prefix      ""
 :rss-name         "feed.xml"
 :rss-filters      ["cryogen"]
 :recent-posts     3
 :post-date-format "yyyy-MM-dd"
 :sass-src         nil
 :sass-dest        nil
 :resources        ["css" "js" "404.html"]
 :keep-files       [".git"]
 :disqus?          true 
 :disqus-shortname "tankthinktechnology"
 :ignored-files    [#"\.#.*" #".*\.swp$"]}
